name: goreleaser

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: git fetch --force --tags
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00
        # v6.0.0
        with:
          go-version: stable
          cache: false
      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a
        # v6.4.0
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
